$white-color: #FFFFFF;
$milky-color: #e9e9e9;;
$lightgrey-color: #cacaca;
$grey-color: #999;
$flesh-color: #ffd4c1;
$rose-color: #f06666;;
$sandy-color: #bc572b;
$red-color: #ff3030;
$teracote-color: #ce4307;;
$beige-color: #ff6e30;
$asphalt-color: #4a4a4a;
$darkasphalt-color: rgba(32, 32, 32, 0.85);
$black-color: #202020;
$font-family: "Roboto", sans-serif;
$second-family: "TTFirsNeue", sans-serif;

